<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%- include ../component/meta.ejs %>
    <title>修改密码</title>
    <style>
        .span-info {
            line-height: 34px;
            color: #f12424;
            font-size:12px;
            display: none;
        }
    </style>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <%- include ../component/left_side.ejs %>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <%- include ../component/header_section.ejs %>
        <!-- header section end-->
        <!-- page heading start-->
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="#">首页</a>
                </li>
                <li class="active">
                    修改密码
                </li>
            </ul>
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            用户信息
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="" action="">
                                <div class="form-group">
                                    <label for="curpass" class="col-sm-4 control-label">当前密码</label>
                                    <div class="col-sm-2">
                                        <input type="password" class="form-control" name="curpass" id="curpass" required>
                                    </div>
                                    <span class="span-info curpass-info">密码不正确</span>
                                </div>
                                <div class="form-group">
                                    <label for="newpass" class="col-sm-4 control-label">新密码</label>
                                    <div class="col-sm-2">
                                        <input type="password" class="form-control" name="newpass" id="newpass" required>
                                    </div>
                                    <span class="span-info newpass-info">密码最小长度8／密码需包含数字／密码需包含小写字母</span>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpass" class="col-sm-4 control-label">确认密码</label>
                                    <div class="col-sm-2">
                                        <input type="password" class="form-control" name="confirmpass" id="confirmpass" required>
                                    </div>
                                    <span class="span-info confirmpass-info">两次输入的密码不一致</span>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-5">
                                        <button type="button" disabled class="btn btn-primary save">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <%- include ../component/footer.ejs %>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>
<%- include ../component/bottom.ejs %>
<script>
    //验证输入当前密码正确否
    var curpass = document.getElementById('curpass');
    curpass.oninput = function(){
        cur();
    }
    $('#curpass').blur(function(){
        cur();
    });

    //当前密码是否正确
    function cur(){
        var curPassword = $('#curpass').val();
        var confirmpass = $('#confirmpass').val();
        var newpass = $('#newpass').val();

        $.ajax({
            url: '/modifyPassword/getCurPassword',
            data: {curPassword:curPassword},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                if (result.code != 200) {
                    $('.curpass-info').show();
                    $('.save').attr('disabled',true);
                }else{
                    $('.curpass-info').hide();
                    $('.save').attr('disabled',false)
                }
                if(!confirmpass || !newpass){
                    $('.save').attr('disabled',true);
                }else{
                    $('.save').attr('disabled',false)
                }
                if(!$('.curpass-info').is(':hidden')){
                    $('.save').attr('disabled',true);
                    return false;
                }
            }
        });
    }

    //验证输入新密码是否符合规则
    $('#newpass').blur(function(){
        var newpass = $(this).val();
        var confirmpass = $('#confirmpass').val();
        var reg = /^(?=.*[0-9].*)(?=.*[a-z].*).{8,}$/;
        if(!reg.test(newpass)){
            $('.newpass-info').show();
            $('.save').attr('disabled',true);
        }else{
            $('.newpass-info').hide();
            $('.save').attr('disabled',false)
        }
        if(!confirmpass || !newpass || confirmpass != newpass){
            if(confirmpass && confirmpass != newpass){
                $('.confirmpass-info').show();
            }
            $('.save').attr('disabled',true);
        }else{
            $('.confirmpass-info').hide();
            $('.save').attr('disabled',false)
        }
        if(!$('.curpass-info').is(':hidden')){
            $('.save').attr('disabled',true);
            return false;
        }
    })

    //监听鼠标input 输入事件
    var newpass = document.getElementById('newpass');
    var confirmpass = document.getElementById('confirmpass');
    newpass.oninput = function(){
        inputpass();
    }
    confirmpass.oninput = function(){
        inputpass();
    }
    function inputpass(){
        var confirmpass = $('#confirmpass').val();
        var newpass = $('#newpass').val();
        if(confirmpass == newpass){
            $('.confirmpass-info').hide();
            $('.save').attr('disabled',false)
        }else{
            if(confirmpass.length >= newpass.length){
                $('.confirmpass-info').show();
            }
            $('.save').attr('disabled',true);
        }
        if(!$('.curpass-info').is(':hidden')){
            $('.save').attr('disabled',true);
            return false;
        }
    }

    //验证两次输入新密码是否一致
    $('#confirmpass').blur(function(){
        var confirmpass = $(this).val();
        var newpass = $('#newpass').val();
        if(!confirmpass || !newpass || confirmpass != newpass){
            $('.confirmpass-info').show();
            $('.save').attr('disabled',true);
        }else{
            $('.confirmpass-info').hide();
            $('.save').attr('disabled',false)
        }
        if(!$('.curpass-info').is(':hidden')){
            $('.save').attr('disabled',true);
            return false;
        }

    })

    //保存
    $('form').on('click','.save',function(){
        var curPassword = $('#curpass').val(),newpass = $('#newpass').val(),confirmpass = $('#confirmpass').val();
        if(!$.trim(curPassword)){
            $('.curpass-info').show();
            $('.save').attr('disabled',true);
            return false;
        }
        if(!$.trim(newpass)){
            $('.newpass-info').show();
            $('.save').attr('disabled',true);
            return false;
        }
        if(!$('.newpass-info').is(':hidden') || !$('.confirmpass-info').is(':hidden')){
            $('.save').attr('disabled',true);
            return false;
        }
        if(confirmpass != newpass){
            $('.confirmpass-info').show();
            $('.save').attr('disabled',true);
            return false;
        }
        var url = '/modifyPassword/updatePassword', data = {newpass:newpass}
        ajax(url, data);
    });
    function ajax(url, data) {
        swal({
                    title: "你确定提交吗？",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                    confirmButtonText: "确定！",
                    cancelButtonText: "取消！",
                },
                function () {
                    $.ajax({
                        url: url,
                        data: data,
                        type: 'post',
                        dataType: 'json',
                        success: function (result) {
                            if (result.code == 200) {
                                swal("修改密码成功！", "", "success");
                                setTimeout(function () {
                                    window.location.href = '/';
                                }, 1200);
                            } else {
                                swal("修改密码出错！", result.msg, "error");
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            swal("修改密码出错！", textStatus || errorThrown , "error");
                        }
                    });
                });
    }
</script>
</body>
</html>

